*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: beige;
}

header{
    background-color: antiquewhite;
    height: calc(100vh - 70px);
}

h1{
    font-size: 72px;  
}

.subheader{
    font-size: 36px;
    margin: 16px 0 24px 0;
}

button{
background-color: rgb(43, 235, 235);
color: rgb(72, 124, 12);
padding: 8px 16px;
border: none;
font-size: 24px;
cursor: pointer;
}

button:hover{
    background-color: violet;
    color: black;
}

a{
    color: black;
    font-size: 24px;
    font-weight: 100;
}

.logo{
    width: 300px;
}

ul{
    display: flex;
}

li{
    list-style-type: none;
    padding-left: 16px;
}

.row{
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
}